/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svgIcon {
    width: 1em;
    height: 1em;
  }
  
  .svgIcon path,
  .svgIcon polygon,
  .svgIcon rect {
    fill: #4691f6;
  }
  
  .svgIcon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }

  .svgIcon:hover { cursor: pointer; }
  .svgIcon:hover path,
  .svgIcon:hover polygon,
  .svgIcon:hover rect {
    fill: #000000;
  }